.header-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    .logo {
        left: 3.3dvw;
        top: 56px;
        position: absolute;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        gap: 6dvw;
        margin-top: 60px;
        .navigation-p {
            font-family: Raleway;
            font-size: 16px;
            font-weight: 500;
            line-height: 18.78px;
            text-align: left;
            cursor: pointer;
        }
    }
}

@media (max-width: 870px) {
    .header-block {
        .navigation {
            display: none;
        }
    }
}

:dir(rtl) {
    .header-block {
        .logo {
            left: unset;
            right: 3.3dvw;
        }
    }
    .navigation {
        .navigation-p {
            font-family: "Rubik";
        }
    }
}