.fifth-block {
    background-color: #ECE5DB;
    min-height: calc(100dvh - 301px);
    position: relative;
    padding-top: 150px;
    padding-bottom: 151px;
    padding-left: 14dvw;
    .fifth-block-image {
        position: absolute;
        bottom: 9px;
        right: 2dvw;
    }
}

@media (max-width: 870px) {
    .fifth-block {
        min-height: unset;
        padding-top: 59px;
        padding-bottom: 54px;
        padding-left: 15px;
        padding-right: 15px;
        .fifth-block-image {
            display: none
        }
    }
}

:dir(rtl) {
    .fifth-block {
        padding-left: unset;
        padding-right: 14dvw;
        .fifth-block-image {
            right: unset;
            left: 2dvw;
        }
    }
    
    @media (max-width: 870px) {
        .fifth-block {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}