body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #FDF6EC;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  color: #47426A;
}

button {
  cursor: pointer;
}